body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    overflow: hidden;
    margin: 0;
}

button {
    padding: 10px 20px;
    font-size: 18px;
    position: absolute;
    left: 0;
}
